<!-- resources: -->
<!-- Frontend uses bootstrap features and methods for UI adapted from https://getbootstrap.com/docs/5.0/ -->
<br>
<br>
<br>
<div class="container-sm">
    <div class="jumbotron">
        <h1 class="display-4">Oops!</h1>
            <p class="lead">This page is either missing, or you don't have access to it.</p>
        <hr class="my-4">
            <p>Try logging in if you think this is an error.</p>
        <a class="btn btn-primary" href="/" role="button">Back to Home</a>
    </div>
</div>