<div class="row text-center">
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item" id="Dog">
    <a class="nav-link" aria-current="page" href="#" query="species=Dog">Dogs</a>
  </li>
  <li class="nav-item" id="Cat">
    <a class="nav-link" href="#" query="species=Cat">Cats</a>
  </li>
  <li class="nav-item" id="Other">
    <a class="nav-link" href="#" query="type=Other">Other</a>
  </li>
</ul>
<div id="Gallery" class="grid-container" style="display:inline-grid;grid-template-columns:center center center center center"></div>


</div>

<script src="./js/searchform.js"></script>
<!-- resources: -->
<!-- https://getbootstrap.com/docs/5.0/ -->